<%- include("header"); -%>


<h1>Pandey live in lucknow </h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat praesentium, assumenda, iure deleniti consequuntur debitis expedita aperiam minus repellendus explicabo animi sunt eligendi, eaque fugiat earum est. Tempore minima magni praesentium modi a inventore eveniet. Vero eos est explicabo magni inventore expedita nobis cum ab labore, eius ducimus amet quae?</p>

<%- include("footer"); -%>