<!--This setting up of the header and footer is the part of ejs template system .
You can take the reference from ejs.co website in template section-->

</div>
<footer >Made with ❤️ by Abhiyodaya Pandey</footer>

</body>

</html>